html{
    background-color: darkred;
}

body{
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 0 0 15px black;
    font-family: Rubik, serif;
}

h1 {
    text-align: center;
    font-style: italic; 
}

h3{
    text-align: center;
}

.form-container{
    padding: 10px;
    width: 80%;
    margin: 25px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 5px gray;
    border: 1px solid black;
}

input, textarea, select, form p{
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: 5px;
}

#headphone-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

[data-id]{
    padding: 8px;
    color: rgb(10, 10, 10);
    background-color: rgb(180, 180, 180);
    height: 100%;
}